@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Jura:wght@300&family=Nabla&display=swap');

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #48aac2;
}

h1 {
  margin: 30px;
  font-family: "Nabla", system-ui;
  text-shadow: 5px 0 #000000;
  font-size: 8rem;
  color: #f200ff;
  font-variation-settings:
  "EDPT" 100,
  "EHLT" 12;
}

p {
  font-size: 2rem;
  color: #051e15;
  font-family: "Nabla", system-ui;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
